div.tool-title{
	margin-left: 30px;
	margin-bottom: 10px;
}

div.search{
	width: 700px;	
}

div.search label{
	display: block;
	width: 100%;
	float: left;
}

div.search div.input input{
	display: block;
	width: 300px;
	float: left;
	margin-right: 15px;
}

div.search input.search-check{
	margin-right: 10px;
}

div.shade{
	background: #eeeeee
}

div.tools-list{
	display: block;
	width: 900px;	
}

div.tools-list div.tool{
	float: left;
	display: block;
	width: 420px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	font-size: 12px;
	cursor: pointer;
}

div.tools-list div.tool img{
	float: left;
	padding-right: 10px;
}

div.tools-list div.tool a{
	color: #006F98;
}

div.tools-list div.tool span{
	color: #636363;
	display: block;
	float: left;
	width: 350px;
}

h1.tool-title{
	color: #333;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

#main a{
	color: #006F98;
}

div.search .searches a{
	
	vertical-align: top;
}

div.tools-list h2{
	color: #333;
	margin: 0 0 15px 10px;
	text-decoration: underline;
}

#main{
	font-size: 16px;	
}

#main input,#main button{
	font-size: 16px;
}

#main div.description{
	color: #333;
}
